.themes {
    display: flex;
    gap: 10px;
}
.themeCircle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}
.themeCircle:hover {
    transform: scale(1.1); 
}
.selected {
    border: 1px solid var(--border); 
}