.submitBtn{
    width: fit-content;height: fit-content;
    border-radius: 8px;
    padding: 6px 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px var(--border) solid;
    background-color: var(--primary);
    transition: background-color 0.3s ease,  0.3s ease; 
}
.submitBtn:hover {
    background-color: var(--secondary) !important;
}
