.boardHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.toDoBoard {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 80vh;
    width: fit-content;
    justify-content: space-evenly;
}
.toDoWrapper,
.doingWrapper,
.doneWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.tasks,
.doing,
.done {
    height: 100%;
    display: grid;
    background-color: rgb(221, 221, 221);
    grid-template-columns: repeat(2, 1fr);
    width: 26rem;
    padding: 20px;
    column-gap: 20px;
}
.task {
    width: 100%;
    height: fit-content;
    padding: 12px;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.taskControls {
    display: flex;
    gap: 10px;
}
button {
    padding: 4px;
    display: flex;
    height: fit-content;
    align-items: center;
    gap: 2px;
}
.taskTitle {
    margin: 0;
}
.taskToDo {
    background-color: #ffefb1;
}

.taskInProgress {
    background-color: #a8dcff;
}

.taskDone {
    background-color: #9cffcd;
}
