/* Återställning av marginal och padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* Modern sans-serif font */
}

.headerContainer {
    background: linear-gradient(135deg, #f8f9fa, #e9ecef);
    /* En subtil gradientbakgrund */
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(240, 240, 240);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.headerLeft,
.headerRight {
    display: flex;
    align-items: center;
}

.headerLeft {
    display: flex;
    flex-direction: column;
    /* Placera title och subtitle vertikalt */
    align-items: flex-start;
    justify-content: center;
}

.headerRight {
    flex: 1;
    justify-content: flex-end;
    gap: 20px;
    /* Avstånd mellan ikoner */
}

.title {
    font-family: 'Poppins', sans-serif;
    color: rgb(34, 34, 34);
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px
}

.subtitle {
    color: rgb(120, 120, 120);
    font-size: 16px;
    margin-top: 5px;
    font-style: italic;
    /* Ger en lite mer subtil känsla */
    margin-top: 0;
}

.icon {
    font-size: 30px;
    color: #07101a;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
    /* Ökar storleken vid hover för en interaktiv känsla */
}

.avatarImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.avatarImage:hover {
    transform: scale(1.1);
    /* Ökar storleken vid hover */
}

.button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* Lite padding för att separera från kanterna */
    border-radius: 5px;
    /* Rundade hörn */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    /* Skugga för djup */
}

.avatarCard {
    display: flex;
    align-items: center;
    padding: 10px;
    /* Padding för varje kort */
    cursor: pointer;
    /* Visuellt feedback */
    transition: background-color 0.2s;
    /* Lätt övergångseffekt */
}

.avatarCard:hover {
    background-color: #f0f0f0;
    /* Lätt färgändring vid hover */
}