.navbar {
    background-color: var(--primary);
    padding: 25px;
    display: flex;
    position: sticky;
    width: 100%;
    justify-content: space-around; 
  }
  
  .navList {
    list-style-type: none;
    margin: 8;
    padding: 0;
    display: flex;
  }
  
  .navItem {
    margin-right: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 7px;
  }
  
  .navItem a {
    color: 
    black;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navItem a:hover {
    text-decoration: underline;
  }
  