.form {
    max-width: 400px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-bottom: 100px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.formGroup {
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.inputWrapper {
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: white;
    flex-direction: row;
    overflow: hidden;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.input {
    padding: 10px;
    width: 100%;
    border: none;
    padding-left: 40px;
    font-size: 14px;
    box-sizing: border-box;
}

.icon {
    padding: 0px 10px;
    font-size: 16px;
    color: darkgray;

}

.submitButton {
    width: fit-content;
    height: 40px;
    padding: 10px;
    background-color: #778b9e;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.submitButton:hover {
    background-color: #5a6268;
}

.loginWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.login {
    display: grid;
    padding: 0 !important;
    margin: 0;
    background-color: #c8c9c8;
    align-items: center;
    height: 100svh;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1;
}

.sidebar {
    background-color: rgb(28, 56, 80);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100px 0px 0px 100px;
    height: 100%;
}

.sidebarContent {
    padding: 40px;
    text-align: center;
    color: white;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h1 {
    padding-bottom: 40px;
}

.message {
    margin-top: 10px;
    /* Utrymme ovanför meddelandet */
    padding: 10px;
    /* Inre marginal för att ge lite utrymme */
    border: 1px solid transparent;
    /* Transparent för att inte påverka layout innan meddelandet visas */
    border-radius: 4px;
    /* Rundade hörn för meddelandet */
    text-align: center;
    /* Centrera texten */
}

/* Stilar för olika typer av meddelanden */
.message.success {
    color: #3c763d;
    /* Grön färg för lyckade meddelanden */
    background-color: #dff0d8;
    /* Ljusgrön bakgrund */
    border-color: #d6e9c6;
    /* Grön kantlinje */
}

.message.error {
    color: #a94442;
    /* Röd färg för felmeddelanden */
    background-color: #f2dede;
    /* Ljus röd bakgrund */
    border-color: #ebccd1;
    /* Röd kantlinje */
}