.messageContainer {
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin-bottom: 10px;
    background-color: var(--lightGrey);
    border: 1px solid black;
    border-radius: 8px;
}
.messageWrapper{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.message {
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
    word-wrap: break-word;
}
.aiAvatar {
    border-radius: 100%;
    background-color: rgb(78, 3, 255);
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
}
