.messageContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
    gap: 20px;
    align-self: flex-start;
    margin-left: auto;margin-right: auto;
}
.messageWrapper {
    gap: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    overflow-y: scroll;
}
.userMessage {
    word-wrap: break-word;
    margin: 0px 10px;
    text-align: end;
}
.aiMessage {
    margin: 0px 10px;
    word-wrap: break-word;
}
.aiAvatar {
    border-radius: 100%;
    background-color: rgb(67, 67, 67);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}
.end{
    display: flex;
    align-items: end;
    flex-direction: column;
}
